/* 00:48:00 */

/* border for DIVs for alignment */

div {
  border: 1px solid red;
}

/* Real CSS */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
  align-items: center;
}

.banner {
  width: 100%;
  height: 31rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 960px;
  display: flex;
  justify-content: space-between;
  background-color: Cadetblue;
  margin: 1rem 0rem;
  color: White;
}

.logo {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo h3 {
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: inline-flex;
}

.nav li {
  padding-right: 2rem;
}

a {
  text-decoration: none;
  color: White;
}

#mobile {
  display: none;
}

.motto {
  width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.motto-box h1 {
  font-size: 2rem;
  padding: 1.5rem 5rem;
  background-color: White;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10rem;
}

/* Services section */

.services {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  height: 8rem;
  margin: 3rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.img {
  height: 5.6rem;
}

#exam {
  max-width: 3.5rem;
}

#fitting,
#delivery {
  max-width: 5rem;
}

/* Texts sections */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts {
  width: 960px;
  display: flex;
}

.text-box {
  width: 336px;
}

.text-box h2 {
  background-color: Cadetblue;
  color: White;
  text-transform: uppercase;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 0rem;
  padding-left: 1.25rem;
}

#philosophy {
  margin-left: 96px;
  margin-right: 48px;
}

#hours {
  margin-right: 144px;
}

.text-box p {
  margin-top: 1rem;
}

/* Copy section */

.copy {
  width: 1032px;
  background-color: Azure;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-left: 0rem;
}

.copy img {
  padding: 4rem;
  padding-right: 1rem;
}

.copy h3 {
  padding: 0rem;
}

/* Tablet version */

@media only screen and (max-width: 1032px) {
  .banner {
    height: 22rem;
  }

  .header {
    width: 100%;
    margin: 0rem;
  }

  .motto {
    width: 100%;
  }

  .motto-box h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .texts {
    width: 100%;
    justify-content: space-around;
  }

  .text-box {
    width: 40%;
  }

  #philosophy,
  #hours {
    margin: 0px;
  }

  .copy {
    width: 100%;
  }
}


/* Mobile version */

@media only screen and (max-width: 700px) {
  .banner {
    height: 17rem;
    background-position: left;
  }

  .header {
    width: 100%;
    margin: 0rem;
  }

  .nav {
    display: none;
  }

  #mobile {
    display: block;
    padding: 1rem 2rem;
  }

  .motto {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .motto-box {
    width: 100%;
  }

  .motto-box h1 {
    font-size: 1rem;
    padding: 1rem;
    margin: 0rem;
    margin-top: 9rem;
    text-align: center;
  }

  .services {
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }

  .box {
    margin: 0.77rem;
    height: auto;
  }

  .img {
    height: auto;
  }

  .box p {
    font-size: 0.77rem;
  }

  .texts {
    flex-direction: column;
    width: 100%;
  }

  .text-box {
    width: 100%;
  }

  #philosophy,
  #hours {
    margin: 0px;
  }

  .text-box h2 {
    text-align: center;
    width: auto;
    padding: 0.5rem;
  }

  .text-box p {
    font-size: 0.77rem;
    margin: 1rem 0.5rem;
    margin-bottom: 4rem;
  }

  .copy {
    width: 100%;
    justify-content: center;
  }

  .copy h3 {
    display: none;
  }

}

/* Small Mobiles */

@media only screen and (max-width: 480px) {

    .logo h3 {
      display: none;
    }

}
